.carousel-control-prev-icon {
    position: absolute;
    height: 50px;
    width: 50px;
    left: 0;
    bottom:0;
    background: #555;
    background-image: url("../img/prev.svg");
}
.carousel-control-next-icon {
    position: absolute;
    height: 50px;
    width: 50px;
    left: 60px;
    bottom:0;
    background: #555;
    background-image: url("../img/next.svg");
}